[submodule "external/FastNoise2"]
	path = external/FastNoise2
	url = https://github.com/Auburn/FastNoise2.git
[submodule "external/FastSIMD"]
	path = external/FastSIMD
	url = https://github.com/Auburn/FastSIMD.git
